<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of owners</title>
</head>
<body>
<!--/*@thymesVar id ="owner" type="package com.example.petclinic.model.Owner"*/-->
<h1 th:text="'List of owners'">List of owners</h1>
<table class="table table-striped">
    <thead>
<tr>
    <th style="width: 150px;">Id</th>
    <th style="width: 150px;">First name</th>
    <th style="width: 150px;">Last name</th>
</tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstName}">Sansa</td>
        <td th:text="${owner?.lastName}">Wa</td>
    </tr>
    </tbody>
</table>
</body>
</html>