<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
<h1 th:text="'List of vets'">List of vets</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.firstName}">Sansa</td>
        <td th:text="${vet?.lastName}">Wa</td>
    </tr>
    </tbody>
</table>
</body>
</html>